.section-1 {
	min-width: 1200px;
	height: 41px;
	background: rgb(245, 247, 250);
}
.section-1 > .container-1 {
	width: 1200px;
	padding: 0px 14px 0px 14px;
}
.section-1 > .container-1 > .row-2 {
	margin: 0px 10px 0px 0px;
	padding: 12px 0px 14px 0px;
}
.section-1 > .container-1 > .row-2 > .column-3 {
	width: 236px;
	margin: 0px 766px 0px 0px;
}
.section-1 > .container-1 > .row-2 > .column-3 > .block-4 {
	width: 97px;
	margin: 2px 26px 0px 0px;
	display: inline-block;
}
.section-1 > .container-1 > .row-2 > .column-3 > .block-4 > .image-5 {
	display: inline-block;
}
.section-1 > .container-1 > .row-2 > .column-3 > .block-4 > .text-6 {
	margin: 1px 0px 0px 7px;
	font-family: "Verdana";
	font-size: 8px;
	font-weight: 700;
	color: rgb(132, 148, 166);
	display: inline-block;
}
.section-1 > .container-1 > .row-2 > .column-3 > .block-5 {
	width: 113px;
	display: inline-block;
}
.section-1 > .container-1 > .row-2 > .column-3 > .block-5 > .image-6 {
	display: inline-block;
}
.section-1 > .container-1 > .row-2 > .column-3 > .block-5 > .text-7 {
	margin: 3px 0px 0px 10px;
	font-family: "Verdana";
	font-size: 7px;
	font-weight: 700;
	color: rgb(107, 128, 150);
	display: inline-block;
}
.section-1 > .container-1 > .row-2 > .column-4 {
	width: 160px;
}
.section-1 > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-7 {
	width: 7px;
	margin: 2px 20px 0px 0px;
}
.section-1 > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-8 {
	width: 12px;
	margin: 2px 19px 0px 0px;
}
.section-1 > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-9 {
	width: 11px;
	margin: 4px 19px 2px 0px;
}
.section-1 > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-10 {
	width: 11px;
	margin: 2px 17px 1px 0px;
}
.section-1 > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-11 {
	width: 15px;
	margin: 0px 15px 0px 0px;
	padding: 4px 0px 1px 0px;
	font-family: "Verdana";
	font-size: 9px;
	font-weight: 700;
	color: rgb(80, 106, 133);
}
.section-1 > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-12 {
	width: 14px;
	margin: 2px 0px 0px 0px;
}
header {
	min-width: 1200px;
	height: 110px;
	background: rgb(255, 255, 255);
}
header > .container-1 {
	width: 1200px;
	padding: 0px 14px 0px 14px;
}
header > .container-1 > .row-2 {
	margin: 0px 24px 0px 0px;
	padding: 34px 0px 35px 0px;
}
header > .container-1 > .row-2 > .column-3 {
	width: 162px;
	background: rgb(80, 106, 133);
	margin: 0px 89px 0px 0px;
}
header > .container-1 > .row-2 > .column-3 > .text-4 {
	font-family: "Verdana";
	font-size: 37px;
	font-weight: 700;
	color: rgb(178, 190, 201);
}
header > .container-1 > .row-2 > .column-4 {
	width: 659px;
	margin: 0px 225px 0px 0px;
}
header > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-7 {
	width: 39px;
	margin: 0px 43px 0px 0px;
	padding: 17px 0px 13px 0px;
	font-family: "Verdana";
	font-size: 11px;
	font-weight: 700;
	color: rgb(80, 106, 133);
}
header > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-8 {
	width: 77px;
	margin: 0px 42px 0px 0px;
	padding: 17px 0px 13px 0px;
	font-family: "Verdana";
	font-size: 11px;
	font-weight: 700;
	color: rgb(80, 106, 133);
}
header > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-9 {
	width: 35px;
	margin: 0px 43px 0px 0px;
	padding: 17px 0px 13px 0px;
	font-family: "Verdana";
	font-size: 11px;
	font-weight: 700;
	color: rgb(80, 106, 133);
}
header > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-10 {
	width: 43px;
	margin: 0px 42px 0px 0px;
	padding: 17px 0px 13px 0px;
	font-family: "Verdana";
	font-size: 11px;
	font-weight: 700;
	color: rgb(80, 106, 133);
}
header > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-11 {
	width: 68px;
	margin: 0px 43px 0px 0px;
	padding: 17px 0px 13px 0px;
	font-family: "Verdana";
	font-size: 11px;
	font-weight: 700;
	color: rgb(80, 106, 133);
}
header > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-12 {
	width: 79px;
	margin: 0px 43px 0px 0px;
	padding: 17px 0px 13px 0px;
	font-family: "Verdana";
	font-size: 11px;
	font-weight: 700;
	color: rgb(80, 106, 133);
}
header > .container-1 > .row-2 > .column-4 > .list-5 > li > .link-13 {
	width: 62px;
	padding: 17px 0px 13px 0px;
	font-family: "Verdana";
	font-size: 11px;
	font-weight: 700;
	color: rgb(80, 106, 133);
}
header > .container-1 > .row-2 > .column-5 {
	width: 13px;
}
header > .container-1 > .row-2 > .column-5 > .image-6 {
	margin: 15px 0px 13px 0px;
}
.section-3 {
	height: 879px;
	background: url(https://via.placeholder.com/1920x879);
}
.section-3 > .container-1 {
	width: 100%;
	margin: 0px 0% 0px 0%;
}
.section-3 > .container-1 > .image-2 {
	width: 1920px;
	padding: 2px 0px 1px 0px;
}
.section-4 {
	min-width: 1200px;
	height: 671px;
	background: rgb(255, 255, 255);
}
.section-4 > .container-1 {
	width: 1200px;
	padding: 0px 14px 0px 14px;
}
.section-4 > .container-1 > .text-2 {
	padding: 129px 0px 0px 0px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 38px;
	color: rgb(80, 106, 133);
}
.section-4 > .container-1 > .text-3 {
	margin: 35px 0px 0px 0px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 19px;
	color: rgb(115, 135, 156);
	line-height: 31.5px;
}
.section-4 > .container-1 > .row-4 {
	padding: 0px 0px 128px 0px;
}
.section-4 > .container-1 > .row-4 > .column-5 {
	width: 70px;
	margin: 0px 32px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-5 > .image-6 {
	margin: 1px 0px 0px 9px;
	padding: 78px 0px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-6 {
	width: 270px;
	margin: 0px 53px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-6 > .text-7 {
	padding: 81px 0px 31px 0px;
	font-family: "Trebuchet MS";
	font-size: 25px;
	color: rgb(80, 106, 133);
}
.section-4 > .container-1 > .row-4 > .column-6 > .text-8 {
	margin: 2px 0px 0px 1px;
	font-family: "Trebuchet MS";
	font-size: 15px;
	color: rgb(115, 135, 156);
	line-height: 24.5px;
}
.section-4 > .container-1 > .row-4 > .column-7 {
	width: 46px;
	margin: 0px 30px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-7 > .image-8 {
	margin: 0px 0px 1px 0px;
	padding: 78px 0px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-7 > .image-9 {
	margin: 1px 0px 6px 13px;
	padding: 2px 0px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-8 {
	width: 269px;
	margin: 0px 45px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-8 > .text-9 {
	padding: 81px 0px 27px 0px;
	font-family: "Trebuchet MS";
	font-size: 25px;
	color: rgb(80, 106, 133);
}
.section-4 > .container-1 > .row-4 > .column-8 > .text-10 {
	margin: 2px 0px 0px 0px;
	font-family: "Trebuchet MS";
	font-size: 15px;
	color: rgb(115, 135, 156);
	line-height: 24.5px;
}
.section-4 > .container-1 > .row-4 > .column-9 {
	width: 56px;
	margin: 0px 30px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-9 > .image-10 {
	margin: 1px 0px 0px 0px;
	padding: 78px 0px 0px 0px;
}
.section-4 > .container-1 > .row-4 > .column-10 {
	width: 269px;
}
.section-4 > .container-1 > .row-4 > .column-10 > .text-11 {
	padding: 80px 0px 27px 0px;
	font-family: "Trebuchet MS";
	font-size: 25px;
	color: rgb(80, 106, 133);
}
.section-4 > .container-1 > .row-4 > .column-10 > .text-12 {
	margin: 2px 0px 0px 0px;
	font-family: "Trebuchet MS";
	font-size: 15px;
	color: rgb(115, 135, 156);
	line-height: 24.5px;
}
.section-5 {
	min-width: 1200px;
	height: 1269px;
	background: rgb(242, 245, 247);
}
.section-5 > .container-1 {
	width: 1200px;
	padding: 0px 14px 0px 14px;
}
.section-5 > .container-1 > .text-2 {
	padding: 130px 0px 0px 0px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 40px;
	color: rgb(80, 106, 133);
}
.section-5 > .container-1 > .text-3 {
	margin: 0px 212px 0px 212px;
	padding: 42px 0px 0px 0px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 20px;
	color: rgb(115, 135, 156);
}
.section-5 > .container-1 > .row-4 > .column-5 {
	width: 572px;
	margin: 0px 28px 0px 0px;
}
.section-5 > .container-1 > .row-4 > .column-5 > .image-6 {
	padding: 77px 0px 0px 0px;
}
.section-5 > .container-1 > .row-4 > .column-5 > .text-7 {
	margin: 0px 0px 0px 113px;
	padding: 34px 0px 0px 0px;
	font-family: "Trebuchet MS";
	font-size: 20px;
	color: rgb(80, 106, 133);
}
.section-5 > .container-1 > .row-4 > .column-5 > .text-8 {
	margin: 0px 0px 0px 262px;
	padding: 13px 0px 0px 0px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(115, 135, 156);
}
.section-5 > .container-1 > .row-4 > .column-5 > .image-9 {
	padding: 30px 0px 0px 0px;
}
.section-5 > .container-1 > .row-4 > .column-6 {
	width: 572px;
}
.section-5 > .container-1 > .row-4 > .column-6 > .row-7 {
	padding: 77px 0px 0px 0px;
	display: inline-block;
}
.section-5 > .container-1 > .row-4 > .column-6 > .row-7 > div > .image-9 {
	display: inline;
}
.section-5 > .container-1 > .row-4 > .column-6 > .text-8 {
	margin: 0px 0px 0px 117px;
	padding: 34px 0px 0px 0px;
	font-family: "Trebuchet MS";
	font-size: 19px;
	color: rgb(80, 106, 133);
}
.section-5 > .container-1 > .row-4 > .column-6 > .text-9 {
	margin: 0px 0px 0px 262px;
	padding: 13px 0px 0px 0px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(115, 135, 156);
}
.section-5 > .container-1 > .row-4 > .column-6 > .image-10 {
	padding: 30px 0px 0px 0px;
}
.section-5 > .container-1 > .row-5 {
	padding: 79px 0px 0px 0px;
}
.section-5 > .container-1 > .row-5 > .column-6 {
	width: 272px;
	background: rgb(36, 34, 34);
	margin: 0px 28px 0px 0px;
}
.section-5 > .container-1 > .row-5 > .column-6 > .row-7 {
	display: inline-block;
}
.section-5 > .container-1 > .row-5 > .column-6 > .row-7 > div > .image-9 {
	display: inline;
}
.section-5 > .container-1 > .row-5 > .column-7 {
	width: 272px;
	background: rgb(191, 196, 192);
	margin: 0px 28px 0px 0px;
}
.section-5 > .container-1 > .row-5 > .column-8 {
	width: 272px;
	background: rgb(145, 133, 124);
	margin: 0px 28px 0px 0px;
}
.section-5 > .container-1 > .row-5 > .column-9 {
	width: 272px;
	background: rgb(183, 187, 166);
}
.section-5 > .container-1 > .block-6 {
	margin: 45px 553px 136px 554px;
}
.section-5 > .container-1 > .block-6 > .image-7 {
	display: inline-block;
}
.section-5 > .container-1 > .block-6 > .image-8 {
	margin: 0px 0px 0px 10px;
	display: inline-block;
}
.section-5 > .container-1 > .block-6 > .image-9 {
	margin: 0px 0px 0px 10px;
	display: inline-block;
}
.section-6 {
	min-width: 1200px;
	height: 483px;
	background: rgb(255, 255, 255);
}
.section-6 > .container-1 {
	width: 1200px;
	padding: 0px 14px 0px 14px;
}
.section-6 > .container-1 > .text-2 {
	padding: 130px 0px 0px 0px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 39px;
	color: rgb(80, 106, 133);
}
.section-6 > .container-1 > .text-3 {
	margin: 42px 0px 0px 0px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 20px;
	color: rgb(115, 135, 156);
	line-height: 33px;
}
.section-6 > .container-1 > .block-4 {
	width: 151px;
	background: rgb(0, 188, 156);
	margin: 41px 511px 129px 510px;
	display: inline-block;
}
.section-6 > .container-1 > .block-4 > .text-5 {
	margin: 0px 25px 0px 27px;
	padding: 20px 0px 0px 0px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 15px;
	color: rgb(255, 255, 255);
	display: inline-block;
}
.section-6 > .container-1 > .block-4 > .image-6 {
	margin: 0px 4px 0px 5px;
	padding: 17px 0px 3px 0px;
}
.section-7 {
	min-width: 1200px;
	height: 362px;
	background: rgb(47, 64, 82);
}
.section-7 > .container-1 {
	width: 1200px;
	padding: 0px 14px 0px 14px;
}
.section-7 > .container-1 > .row-2 {
	padding: 0px 0px 73px 0px;
}
.section-7 > .container-1 > .row-2 > .column-3 {
	width: 263px;
	margin: 0px 37px 0px 0px;
}
.section-7 > .container-1 > .row-2 > .column-3 > .text-4 {
	margin: 0px 0px 0px 1px;
	padding: 73px 0px 0px 0px;
	font-family: "Verdana";
	font-size: 15px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}
.section-7 > .container-1 > .row-2 > .column-3 > .text-5 {
	padding: 26px 0px 0px 0px;
	font-family: "Verdana";
	font-size: 31px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}
.section-7 > .container-1 > .row-2 > .column-3 > .text-6 {
	margin: 24px 0px 0px 1px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(163, 177, 191);
	line-height: 20.6666666666667px;
}
.section-7 > .container-1 > .row-2 > .column-3 > .text-7 {
	margin: 0px 0px 0px 1px;
	padding: 24px 0px 5px 0px;
	font-family: "Trebuchet MS";
	font-size: 25px;
	color: rgb(163, 177, 191);
}
.section-7 > .container-1 > .row-2 > .column-4 {
	width: 257px;
	margin: 0px 43px 0px 0px;
}
.section-7 > .container-1 > .row-2 > .column-4 > .text-5 {
	margin: 0px 0px 0px 1px;
	padding: 73px 0px 0px 0px;
	font-family: "Verdana";
	font-size: 15px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-6 {
	padding: 26px 0px 0px 0px;
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-6 > .row-7 {
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-6 > .row-7 > div > .image-9 {
	display: inline;
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-6 > .row-8 {
	margin: 0px 0px 0px 4px;
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-6 > .row-8 > div > .image-10 {
	display: inline;
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-7 {
	margin: 4px 0px 0px 0px;
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-7 > .row-8 {
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-7 > .row-8 > div > .image-10 {
	display: inline;
}
.section-7 > .container-1 > .row-2 > .column-4 > .block-7 > .image-9 {
	margin: 0px 0px 0px 5px;
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-5 {
	width: 255px;
	margin: 0px 45px 0px 0px;
}
.section-7 > .container-1 > .row-2 > .column-5 > .text-6 {
	margin: 0px 0px 0px 1px;
	padding: 73px 0px 0px 0px;
	font-family: "Verdana";
	font-size: 15px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}
.section-7 > .container-1 > .row-2 > .column-5 > .text-7 {
	margin: 26px 0px 0px 1px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(163, 177, 191);
	line-height: 21px;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-8 {
	margin: 22px 0px 0px 0px;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-8 > .image-9 {
	margin: 0px 0px 0px 2px;
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-8 > .text-10 {
	margin: 1px 0px 0px 9px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(163, 177, 191);
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-9 {
	margin: 7px 0px 0px 0px;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-9 > .image-10 {
	margin: 0px 0px 0px 2px;
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-9 > .text-11 {
	margin: 1px 0px 0px 10px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(163, 177, 191);
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-10 {
	margin: 9px 0px 38px 0px;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-10 > .image-11 {
	margin: 1px 0px 0px 0px;
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-5 > .block-10 > .text-12 {
	margin: 0px 0px 0px 8px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(163, 177, 191);
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-6 {
	width: 271px;
}
.section-7 > .container-1 > .row-2 > .column-6 > .text-7 {
	margin: 0px 0px 0px 1px;
	padding: 73px 0px 0px 0px;
	font-family: "Verdana";
	font-size: 15px;
	font-weight: 700;
	color: rgb(255, 255, 255);
}
.section-7 > .container-1 > .row-2 > .column-6 > .text-8 {
	margin: 26px 0px 0px 0px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(163, 177, 191);
	line-height: 21px;
}
.section-7 > .container-1 > .row-2 > .column-6 > .row-9 {
	width: 271px;
	background: rgb(78, 92, 108);
	margin: 18px 4px 82px 13px;
	padding: 5px 0px 5px 0px;
	display: inline-block;
}
.section-7 > .container-1 > .row-2 > .column-6 > .row-9 > .column-10 {
	width: 151px;
	margin: 0px 13px 0px 0px;
}
.section-7 > .container-1 > .row-2 > .column-6 > .row-9 > .column-10 > .text-11 {
	padding: 10px 0px 7px 0px;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(118, 131, 143);
}
.section-7 > .container-1 > .row-2 > .column-6 > .row-9 > .column-11 {
	width: 90px;
	background: rgb(0, 188, 156);
}
.section-7 > .container-1 > .row-2 > .column-6 > .row-9 > .column-11 > .text-12 {
	background: rgb(0, 188, 156);
	margin: 0px 10px 0px 11px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: rgb(255, 255, 255);
	display: inline-block;
}
footer {
	min-width: 1200px;
	height: 83px;
	background: rgb(40, 54, 69);
}
footer > .container-1 {
	width: 1200px;
	padding: 0px 14px 0px 14px;
}
footer > .container-1 > .row-2 {
	margin: 0px 1px 0px 0px;
	padding: 34px 0px 34px 0px;
}
footer > .container-1 > .row-2 > .column-3 {
	width: 200px;
	margin: 0px 606px 0px 0px;
}
footer > .container-1 > .row-2 > .column-3 > .text-4 {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: rgb(112, 126, 140);
}
footer > .container-1 > .row-2 > .column-4 {
	width: 365px;
}
footer > .container-1 > .row-2 > .column-4 > .block-5 > .text-6 {
	margin: 1px 0px 0px 0px;
	font-family: "Trebuchet MS";
	font-size: 13px;
	color: rgb(112, 126, 140);
	display: inline-block;
}
footer > .container-1 > .row-2 > .column-4 > .block-5 > .image-7 {
	margin: 5px 0px 0px 9px;
	display: inline-block;
}
footer > .container-1 > .row-2 > .column-4 > .block-5 > .text-8 {
	margin: 0px 0px 0px 9px;
	font-family: "Trebuchet MS";
	font-size: 15px;
	color: rgb(112, 126, 140);
	display: inline-block;
}
