body {
    margin: 0;
    padding: 0;
    line-height: 1;
}
section, header, footer {
    width: 100%;
    height: auto!important;
}
.container {
    position: relative;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.row {
    /*width: 100%;*/
    width: auto;
}
.row:before {
    display: table;
    content: " ";
}
.row:after {
    clear: both;
    display: table;
    content: " ";
}
.col {
    float: left;
    position: relative;
    font-size: 0;
    /* @todo neviem či je dobrý nápad colu dávať 100% width */
    /* @todo column width sa možno budú potom nejak normalizovať, že sa to replacne ako col-3 col-3 col-6 a pod.*/
    width: 100%;
}
.col > * {
    vertical-align: top;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    vertical-align: top;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul > li {
    display: inline-block;
    vertical-align: top;
}
ul > li > a {
    display: block;
}
p {
    margin: 0;
}